@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dynalight&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
* a {
  color: #282828;
  text-decoration: none;
}

.header-strip {
  background: #06073f;
  width: 100vw;
  height: 15vh;
}

.heading-container {
  align-items: flex-start;
  background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 20%, rgba(0, 0, 0, 0.5) 100%), url(../img/broadoaks.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #282828;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  padding-left: 15rem;
  position: relative;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .heading-container {
    height: 50vh;
    padding-left: 1rem;
    width: 100%;
  }
}
.heading-container h1 {
  font-family: "Passions Conflict", cursive;
  font-size: 8rem;
}
@media only screen and (max-width: 600px) {
  .heading-container h1 {
    font-size: 5rem;
  }
}
.heading-container p {
  line-height: 1rem;
  padding-left: 1rem;
}
@media only screen and (max-width: 600px) {
  .heading-container p {
    font-size: 1rem;
  }
}

.nav_section {
  height: 10vh;
  margin: 0 5vw;
  padding: 0 10rem;
  width: 90vw;
  z-index: 99;
}
@media only screen and (max-width: 600px) {
  .nav_section {
    margin: 0;
    padding: 1rem 0;
    position: absolute;
    top: 0;
    width: 100vw;
  }
}
.nav_section nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_section nav .nav_logo {
  color: #282828;
  cursor: pointer;
  font-family: "Passions Conflict", cursive;
  font-size: 3.5rem;
  font-weight: 300;
}
@media only screen and (max-width: 600px) {
  .nav_section nav .nav_logo {
    font-size: 2rem;
  }
}
.nav_section nav .nav_logo img {
  max-width: 15rem;
}
.nav_section nav .nav-btn {
  color: #282828;
  display: none;
}
@media only screen and (max-width: 600px) {
  .nav_section nav .nav-btn {
    color: white !important;
  }
}
.nav_section nav a:link {
  color: #282828;
  text-decoration: none;
}
.nav_section nav a:visited {
  color: #282828;
  text-decoration: none;
}
.nav_section nav a:hover {
  color: #06073f;
}
.nav_section nav a:focus {
  color: #06073f;
  text-decoration: none;
}
.nav_section nav ul {
  display: flex;
  list-style: none;
  margin: 1rem;
}
.nav_section nav ul li {
  padding: 1em;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 2px;
}
.nav_section nav .mobile_nav {
  display: none;
}
@media only screen and (max-width: 600px) {
  .nav_section nav .desktop_nav {
    display: none;
  }
  .nav_section nav .mobile_nav {
    background-color: white;
    box-shadow: 0px 2px 20px #929292;
    color: #282828;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    margin: 0;
    padding: 0 0 2rem;
    text-align: center;
  }
  .nav_section nav .mobile_nav .close {
    color: #282828;
    font-size: 2rem;
    text-align: right;
  }
  .nav_section nav .nav-btn {
    display: block;
    padding-right: 1.5rem;
  }
  .nav_section nav .nav-btn span.material-symbols-outlined {
    font-size: 40px;
  }
  .nav_section nav a.nav_logo,
  .nav_section nav .quick_contact_section,
  .nav_section nav .about_section_text {
    padding: 0 1.5rem;
  }
}

.landing {
  background: url("../img/dancing.jpg");
  background-size: cover;
  background-position-y: -10rem;
  background-repeat: no-repeat;
  height: calc(90vh - 1rem);
  margin: 0 1rem 1rem;
}
@media (max-width: 600px) {
  .landing {
    background-position: center;
    height: 100vh;
    margin: 0;
  }
}
.landing .header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .landing .header {
    align-items: center;
    height: 100vh;
    justify-content: center;
    padding: 1rem;
  }
}
.landing .header .heart-shape {
  background: linear-gradient(rgba(175, 175, 175, 0.27), rgba(255, 255, 255, 0)), url(../img/background.jpg);
  background-size: cover;
  background-position-y: -1rem;
  background-repeat: no-repeat;
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
  height: 400px;
  position: absolute;
  left: 5rem;
  bottom: 0;
  transform: rotate(-20deg);
  width: 400px;
  -webkit-mask-box-image: radial-gradient(#000 69%, rgba(0, 0, 0, 0) 70%) 84.5%/50%;
  mask-border: radial-gradient(#000 69%, rgba(0, 0, 0, 0) 70%) 84.5%/50%;
  -webkit-clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}
@media (max-width: 600px) {
  .landing .header .heart-shape {
    height: 250px;
    left: auto;
    margin: 0 auto;
    transform: rotate(0);
    width: 250px;
  }
}
.landing .header .content {
  padding: 3rem 5rem;
  text-align: center;
  z-index: 10;
}
@media only screen and (max-width: 600px) {
  .landing .header .content {
    padding: 0.5rem;
    text-align: left;
  }
}
.landing .header .content h1 {
  color: #99b0df;
  font-family: "Passions Conflict", cursive;
  font-size: 10rem;
  font-weight: 300;
  line-height: 8rem;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px #06073f;
}
@media only screen and (max-width: 600px) {
  .landing .header .content h1 {
    font-size: 4.5rem;
    line-height: 4rem;
  }
}
.landing .header .content p {
  color: white;
  font-family: "Passions Conflict", cursive;
  font-size: 4rem;
  line-height: 1rem;
  text-shadow: 1px 1px 1px #06073f;
}
@media only screen and (max-width: 600px) {
  .landing .header .content p {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.5rem;
    max-width: 100vw;
    padding: 1rem;
  }
}

.block-container {
  font-size: 4rem;
  margin: 1rem 4rem;
  display: inline-block;
  line-height: 3rem;
  text-align: justify;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .block-container {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
    padding: 1rem;
  }
}
.block-container p {
  font-weight: 900;
  color: rgba(148, 148, 148, 0.0980392157);
}
.block-container p span {
  font-weight: 900;
  color: #f9d9ee;
}
.block-container p:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.countdown-container {
  background-color: #99b0df;
  padding: 4rem;
}
.countdown-container .countdown-text {
  align-items: center;
  color: #06073f;
  display: flex;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.countdown-container #countdown {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: center;
}
.countdown-container #countdown .countdown-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}
@media (max-width: 600px) {
  .countdown-container #countdown .countdown-section {
    margin: 0;
  }
}
.countdown-container #countdown .countdown-section span {
  font-family: "Passions Conflict", cursive;
  font-size: 6rem;
  line-height: 4rem;
}
@media (max-width: 600px) {
  .countdown-container #countdown .countdown-section span {
    font-size: 4rem;
    line-height: 3rem;
  }
}
.countdown-container #end-text {
  align-items: center;
  display: flex;
  font-size: 4rem;
  font-family: "Passions Conflict", cursive;
  height: 10vh;
  justify-content: center;
  padding-bottom: 3rem;
}

.when-section {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/broadoaks.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #99b0df;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 5rem;
  position: relative;
}
@media (max-width: 600px) {
  .when-section {
    flex-direction: column;
    padding: 5rem 1rem;
  }
}
.when-section h1 {
  font-family: "Passions Conflict", cursive;
  font-size: 6rem;
}
@media (max-width: 600px) {
  .when-section h1 {
    font-size: 4rem;
  }
}
.when-section .contents {
  display: flex;
}
@media (max-width: 600px) {
  .when-section .contents {
    flex-direction: column;
  }
}
.when-section .when-side,
.when-section .where-side {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem 5rem;
}
@media (max-width: 600px) {
  .when-section .when-side,
  .when-section .where-side {
    padding: 2rem;
    text-align: center;
  }
}
.when-section .when-side .heading-small,
.when-section .where-side .heading-small {
  margin: 1rem;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}
.when-section .when-side h3,
.when-section .where-side h3 {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 100;
  line-height: 2.5rem;
  margin: 0 0 1rem;
}
.when-section .when-side p.para-reg,
.when-section .where-side p.para-reg {
  margin-bottom: 1rem;
  padding: 0 1rem;
  letter-spacing: 0.1rem;
}
.when-section .when-side a,
.when-section .where-side a {
  text-decoration: none;
  color: #99b0df;
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid #99b0df;
  line-height: 2rem;
  padding: 0.5rem 0;
}

.party-section {
  background: #f9d9ee;
  color: #c12121;
  padding: 4rem 10rem;
  text-align: center;
}
.party-section .inner-sect {
  display: flex;
  justify-content: center;
  text-align: left;
}
.party-section .inner-sect .title {
  width: 20vw;
}
.party-section .inner-sect .title h2 {
  font-size: 2rem;
  font-weight: 100;
}
.party-section .inner-sect .party-info {
  padding: 3rem 4rem;
}
.party-section .inner-sect .party-info h3 {
  font-family: "Passions Conflict", cursive;
  font-size: 5rem;
  font-weight: 100;
  border-bottom: 1px solid #c12121;
  padding-bottom: 1rem;
}
.party-section .inner-sect .party-info p {
  margin-bottom: 1rem;
  padding: 1rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}
.party-section a {
  text-decoration: none;
  color: #a6277d;
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid #a6277d;
  line-height: 2rem;
  padding: 0.5rem 0;
}

@media (max-width: 600px) {
  .party-section {
    padding: 2rem 2rem 3rem;
  }
  .party-section .inner-sect {
    flex-direction: column;
  }
  .party-section .inner-sect .title {
    width: 50vw;
  }
  .party-section .inner-sect .title h2 {
    font-size: 1rem;
  }
  .party-section .inner-sect .party-info {
    padding: 1rem 0;
  }
  .party-section .inner-sect .party-info h3 {
    font-size: 3rem;
  }
}
.rsvp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #282828;
  padding: 4rem 10rem;
  text-align: center;
}
@media (max-width: 700px) {
  .rsvp {
    padding: 2rem 1rem;
  }
}
.rsvp h2 {
  font-family: "Passions Conflict", cursive;
  font-size: 5rem;
  font-weight: 100;
}
@media (max-width: 700px) {
  .rsvp h2 {
    font-size: 3rem;
  }
}
.rsvp .rsvp-button a button {
  border: 2px solid #282828;
  padding: 1rem;
  background: none;
  color: #282828;
  margin: 2rem;
  cursor: pointer;
  width: 20vw;
}
@media (max-width: 700px) {
  .rsvp .rsvp-button a button {
    background: #06073f;
    border: 2px solid #06073f;
    color: white;
    cursor: pointer;
  }
}
.rsvp .rsvp-button a :hover {
  background: #f9d9ee;
  border: 2px solid #f9d9ee;
  transition: 0.3s ease-in-out;
  color: #a6277d;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #06073f;
  color: #99b0df;
  padding: 4rem 10rem;
}

@media (max-width: 600px) {
  .footer {
    padding: 4rem;
  }
}
.story-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 15rem 0;
}
@media only screen and (max-width: 600px) {
  .story-container {
    padding: 0;
  }
}
.story-container .header-strip {
  display: none;
}
@media only screen and (max-width: 600px) {
  .story-container .header-strip {
    display: block;
  }
}
.story-container .row-container {
  background-color: #f9d9ee;
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .story-container .row-container {
    flex-direction: column;
  }
}
.story-container .row-container:nth-of-type(even) {
  background-color: transparent;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 600px) {
  .story-container .row-container:nth-of-type(even) {
    flex-direction: column;
  }
}
.story-container .row-container .content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 4rem;
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .story-container .row-container .content-container {
    padding: 1rem;
    width: 100%;
  }
}
.story-container .row-container .image-container {
  align-items: center;
  display: flex;
  padding: 2rem;
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .story-container .row-container .image-container {
    padding: 1rem 0;
    width: 100%;
  }
}
.story-container .row-container .image-container img {
  max-height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.travel-section {
  background: linear-gradient(to bottom, white 50%, #f9d9ee 50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 15rem 0;
}
.travel-section .header-strip {
  display: none;
}
@media only screen and (max-width: 600px) {
  .travel-section .header-strip {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .travel-section {
    padding: 0;
  }
}
.travel-section .heading-image {
  filter: grayscale(50%);
  position: relative;
  text-align: right;
  z-index: 99;
}
@media only screen and (max-width: 600px) {
  .travel-section .heading-image {
    padding: 0;
    width: 100%;
  }
}
.travel-section iframe {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .travel-section iframe {
    width: 100%;
  }
}

.once-there {
  background: linear-gradient(to bottom, #f9d9ee 50%, white 50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 15rem;
}
@media only screen and (max-width: 600px) {
  .once-there {
    padding: 1rem;
  }
}
.once-there h1 {
  font-family: "Passions Conflict", cursive;
  font-size: 6rem;
}
@media only screen and (max-width: 600px) {
  .once-there h1 {
    font-size: 5rem;
  }
}
.once-there p {
  line-height: 1rem;
}
@media only screen and (max-width: 600px) {
  .once-there p {
    font-size: 1rem;
    line-height: 1rem;
  }
}
.once-there .places-to-see {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
@media only screen and (max-width: 600px) {
  .once-there .places-to-see {
    flex-direction: column;
  }
}
.once-there .places-to-see .places-card {
  max-width: 33%;
  margin-top: 5rem;
}
@media only screen and (max-width: 600px) {
  .once-there .places-to-see .places-card {
    margin-top: 2rem;
    max-width: 100%;
  }
}
.once-there .places-to-see .places-card img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
  width: 100%;
}
.once-there .places-to-see .places-card p.lead {
  font-weight: 500;
  padding: 1rem 0;
}

.response-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.response-container .rsvp-container {
  background: #99b0df;
  border-radius: 10px;
  margin: auto;
  padding: 2rem;
  position: relative;
  transform: translateY(-5vh);
  text-align: center;
  width: 40vw;
}
.response-container .rsvp-container h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2rem;
}
.response-container .rsvp-container h1 {
  color: white;
  font-family: "Passions Conflict", cursive;
  font-size: 5rem;
  font-weight: 100;
  line-height: 3rem;
  margin-bottom: 1rem;
}
.response-container .rsvp-container hr {
  border: 1px solid white;
  border-style: dashed;
  margin: 2rem 0 1rem;
}
.response-container .rsvp-container .rsvp-details {
  display: flex;
  justify-content: center;
}
.response-container .rsvp-container .rsvp-details h3 {
  font-family: "Passions Conflict", cursive;
  font-size: 3rem;
  font-weight: 100;
}
.response-container .rsvp-container .rsvp-details div {
  padding: 1rem;
}
.response-container .rsvp-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.response-container .rsvp-container form input,
.response-container .rsvp-container form textarea,
.response-container .rsvp-container form select {
  border: none;
  background: white;
  font-family: "Montserrat", sans-serif;
  padding: 1rem 0.6rem;
  margin: 0.5rem 0;
  width: 100%;
}
.response-container .rsvp-container form p {
  font-family: "Montserrat", sans-serif;
  padding: 0.6rem;
  margin: 0.5rem 0;
}
.response-container .rsvp-container form button {
  background: #06073f;
  border: none;
  color: white;
  cursor: pointer;
  padding: 1rem;
  margin: 0.5rem 0;
}

@media (max-width: 600px) {
  .response-container .rsvp-container {
    border-radius: 5px;
    width: 90vw;
  }
}/*# sourceMappingURL=main.css.map */