// Main config

@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');

$font-main: 'Montserrat', sans-serif;
$font-cursive: 'Passions Conflict', cursive;
$font-match: 'Dynalight', cursive;

$primary-colour: #282828;
$base-blue: #99b0df;
$deep-blue: #06073f;
$base-pink: #f9d9ee;
$deep-pink: #a6277d;
$base-red: #d57878;
$deep-red: #c12121;

$border-radius: 8px;

// ------------------------------------ CSS Reset

* {
    box-sizing: border-box;
    // color: $primary-colour;
    font-family: $font-main;
    font-weight: 300;
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
        color: $primary-colour;
        text-decoration: none;
    }
}

.header-strip {
    background: $deep-blue;
    width: 100vw;
    height: 15vh;
}

// -------------------------------------------------------------------------------
// ------------------------------------ Homepage ---------------------------------
// -------------------------------------------------------------------------------

// NAV CSS --------------------------------------------
// --------------------------------------------------------

.nav_section {
    height: 10vh;
    margin: 0 5vw;
    padding: 0 10rem;
    width: 90vw;
    z-index: 99;

    @media only screen and (max-width: 600px) {
        margin: 0;
        padding: 1rem 0;
        position: absolute;
        top: 0;
        width: 100vw;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav_logo {
            color: $primary-colour;
            cursor: pointer;
            font-family: $font-cursive;
            font-size: 3.5rem;
            font-weight: 300;

            @media only screen and (max-width: 600px) {
                color: white !important;
            }

            img {
                max-width: 15rem;
            }
        }

        .nav-btn {
            color: $primary-colour;
            display: none;

            @media only screen and (max-width: 600px) {
                color: white !important;
            }
        }

        a:link {
            color: $primary-colour;
            text-decoration: none;
        }

        a:visited {
            color: $primary-colour;
            text-decoration: none;
        }

        a:hover {
            color: $deep-blue;
        }

        a:focus {
            color: $deep-blue;
            text-decoration: none;
        }

        ul {
            display: flex;
            list-style: none;
            margin: 1rem;

            li {
                padding: 1em;
                font-weight: 300;
                font-size: 1em;
                letter-spacing: 2px;
            }
        }

        .mobile_nav {
            display: none;
        }

        @media only screen and (max-width: 600px) {
            .desktop_nav {
                display: none;
            }

            .mobile_nav {
                background-color: white;
                color: $primary-colour;
                display: none;
                flex-direction: column;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 99;
                margin: 0;
                padding: 0 0 2rem;
                text-align: center;

                .close {
                    color: $primary-colour;
                    font-size: 2rem;
                    text-align: right;
                }
            }

            .nav-btn {
                display: block;
                padding-right: 1.5rem;
            }

            .nav-btn span.material-symbols-outlined {
                font-size: 40px;
            }

            a.nav_logo,
            .quick_contact_section,
            .about_section_text {
                padding: 0 1.5rem;
            }

        }

    }
}

// LANDING CSS --------------------------------------------
// --------------------------------------------------------

.landing {
    background: url('../img/dancing.jpg');
    background-size: cover;
    background-position-y: -10rem;
    background-repeat: no-repeat;
    height: calc(90vh - 1rem);
    margin: 0 1rem 1rem;

    @media (max-width:600px) {
        background-position: center;
        height: 100vh;
        margin: 0;
    }

    .header {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        height: 75vh;
        justify-content: flex-start;
        padding-left: 10vw;

        @media only screen and (max-width: 600px) {
            align-items: center;
            height: 100vh;
            justify-content: center;
            padding: 1rem;
        }

        .heart-shape {
            background: linear-gradient(rgb(175 175 175 / 27%), rgb(255 255 255 / 0%)), url(../img/background.jpg);
            background-size: cover;
            background-position-y: -1rem;
            background-repeat: no-repeat;
            clip-path: polygon(-41% 0, 50% 91%, 141% 0);
            height: 400px;
            position: absolute;
            left: 5rem;
            bottom: 0;
            transform: rotate(-20deg);
            width: 400px;
            -webkit-mask-box-image: radial-gradient(#000 69%, rgba(0, 0, 0, 0) 70%) 84.5%/50%;
            mask-border: radial-gradient(#000 69%, rgba(0, 0, 0, 0) 70%) 84.5%/50%;
            -webkit-clip-path: polygon(-41% 0, 50% 91%, 141% 0);


            @media (max-width:600px) {
                height: 250px;
                left: auto;
                margin: 0 auto;
                transform: rotate(0);
                width: 250px;
            }
        }

        .content {
            padding: 3rem 5rem;
            text-align: right;
            z-index: 10;

            @media only screen and (max-width: 600px) {
                padding: 0.5rem;
                text-align: left;
            }

            h1 {
                color: white;
                font-family: $font-cursive;
                font-size: 8rem;
                font-weight: 300;
                margin-bottom: 0;

                @media only screen and (max-width: 600px) {
                    font-size: 5rem;
                }
            }

            p {
                color: white;
                font-family: $font-main;
                font-size: 1.3rem;
                line-height: 1rem;
                max-width: 50vw;
                padding-right: 1rem;

                @media only screen and (max-width: 600px) {
                    font-weight: 500;
                    line-height: 1.5rem;
                    max-width: 100vw;
                    padding: 1rem;
                }
            }
        }
    }
}

// ------------------------------------ Countdown

.countdown-text {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-family: $font-main;
    justify-content: center;
    margin-bottom: 0.5rem;

    @media (max-width:600px) {
        margin-top: 2rem;
    }
}

#countdown {
    align-items: center;
    display: flex;
    height: 10vh;
    justify-content: center;

    .countdown-section {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem;
        padding: 1rem;

        span {
            font-size: 2rem;
        }
    }
}

#end-text {
    align-items: center;
    display: flex;
    font-size: 4rem;
    font-family: $font-cursive;
    height: 10vh;
    justify-content: center;
    padding-bottom: 3rem;
}

// ------------------------------------ Block section

.block-container {
    font-size: 4rem;
    margin: 0 4rem;
    display: inline-block;
    line-height: 3rem;
    text-align: justify;
    text-transform: uppercase;

    p {
        font-weight: 900;
        color: #94949419;

        span {
            font-weight: 900;
            color: $base-pink;
        }
    }

    p:after {
        content: '';
        display: inline-block;
        width: 100%;
    }


}

@media (max-width:600px) {
    .block-container {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0;
        padding: 1rem;
    }
}

// ------------------------------------ When & where

.when-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $deep-blue;
    color: $base-blue;

    .when-side,
    .where-side {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5rem;

        .heading-small {
            margin: 1rem;
            font-size: 0.9rem;
            letter-spacing: 0.1rem;
            line-height: 2rem;
        }

        h3 {
            font-size: 2rem;
            font-family: sans-serif;
            font-weight: 100;
            line-height: 2.5rem;
            margin: 0 0 1rem;
        }

        p.para-reg {
            margin-bottom: 1rem;
            padding: 0 1rem;
            letter-spacing: 0.1rem;
        }

        a {
            text-decoration: none;
            color: $base-blue;
            cursor: pointer;
            font-size: 0.8rem;
            letter-spacing: 0.1rem;
            border-bottom: 1px solid $base-blue;
            line-height: 2rem;
            padding: 0.5rem 0;
        }

    }
}

@media (max-width:600px) {
    .when-section {
        flex-direction: column;
        padding-bottom: 1rem;

        .when-side,
        .where-side {
            padding: 2rem;
            text-align: center;
        }
    }
}

// ------------------------------------ Travel

.travel-section-home {
    padding: 4rem 10rem;
    text-align: center;

    @media (max-width:600px) {
        padding: 1rem;
    }

    .travel-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width:600px) {
            flex-direction: column;
        }

        .left-side,
        .right-side {
            flex-grow: 1;
        }
    }
}

.travel-section {
    background: linear-gradient(to bottom, white 50%, $base-pink 50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 15rem 0;

    .header-strip {
        display: none;

        @media only screen and (max-width: 600px) {
            display: block;
        }
    }

    @media only screen and (max-width: 600px) {
        padding: 0;
    }

    .getting-there {
        margin: auto;
        width: 80vw;

        @media only screen and (max-width: 600px) {
            width: calc(100vw - 2rem);
        }

        h1 {
            font-family: $font-cursive;
            font-size: 6rem;

            @media only screen and (max-width: 600px) {
                font-size: 5rem;
            }
        }

        p {
            line-height: 1rem;

            @media only screen and (max-width: 600px) {
                font-size: 1rem;
            }
        }

        .map {
            filter: grayscale(100%);
            padding-right: 10rem;
            position: relative;
            text-align: right;
            z-index: 99;

            @media only screen and (max-width: 600px) {
                padding: 0;
                width: 100%;
            }
            
        }
        
        iframe {
            @media only screen and (max-width: 600px) {
                width: 100%;
            }
        }
    }
}

.once-there {
    background: linear-gradient(to bottom, $base-pink 50%, white 50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 15rem;

    @media only screen and (max-width: 600px) {
        padding: 1rem;
    }

    h1 {
        font-family: $font-cursive;
        font-size: 6rem;

        @media only screen and (max-width: 600px) {
            font-size: 5rem;
        }
    }

    p {
        line-height: 1rem;

        @media only screen and (max-width: 600px) {
            font-size: 1rem;
            line-height: 1rem;
        }
    }

    .places-to-see {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }

        .places-card {
            max-width: 33%;
            margin-top: 5rem;

            @media only screen and (max-width: 600px) {
                margin-top: 2rem;
                max-width: 100%;
            }

            img {
                height: 300px;
                object-fit: cover;
                margin-bottom: 1rem;
                width: 100%;
            }

            p.lead {
                font-weight: 500;
                padding: 1rem 0;
            }
        }
    }
}

// ------------------------------------ Party

.party-section {
    background: $base-pink;
    color: $deep-red;
    padding: 4rem 10rem;
    text-align: center;

    .inner-sect {
        display: flex;
        justify-content: center;
        text-align: left;

        .title {
            width: 20vw;

            h2 {
                font-size: 2rem;
                font-weight: 100;
            }
        }

        .party-info {
            padding: 3rem 4rem;

            h3 {
                font-family: 'Passions Conflict', cursive;
                font-size: 5rem;
                font-weight: 100;
                border-bottom: 1px solid $deep-red;
                padding-bottom: 1rem;
            }

            p {
                margin-bottom: 1rem;
                padding: 1rem;
                letter-spacing: 0.1rem;
                line-height: 2rem;
            }
        }
    }

    a {
        text-decoration: none;
        color: $deep-pink;
        cursor: pointer;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        border-bottom: 1px solid $deep-pink;
        line-height: 2rem;
        padding: 0.5rem 0;
    }

}

@media (max-width:600px) {
    .party-section {
        padding: 2rem 2rem 3rem;

        .inner-sect {
            flex-direction: column;

            .title {
                width: 50vw;

                h2 {
                    font-size: 1rem;
                }
            }

            .party-info {
                padding: 1rem 0;

                h3 {
                    font-size: 3rem;
                }
            }
        }
    }
}

// ------------------------------------ RSVP

.rsvp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $primary-colour;
    padding: 4rem 10rem;
    text-align: center;

    @media (max-width: 700px) {
        padding: 2rem 1rem;
    }

    h2 {
        font-family: 'Passions Conflict', cursive;
        font-size: 5rem;
        font-weight: 100;

        @media (max-width: 700px) {
            font-size: 3rem;
        }
    }

    .rsvp-button {

        a {
            button {
                border: 2px solid $primary-colour;
                padding: 1rem;
                background: none;
                color: $primary-colour;
                margin: 2rem;
                cursor: pointer;
                width: 20vw;

                @media (max-width: 700px) {
                    background: $deep-blue;
                    border: 2px solid $deep-blue;
                    color: white;
                    cursor: pointer;
                }
            }

            :hover {
                background: $base-pink;
                border: 2px solid $base-pink;
                transition: 0.3s ease-in-out;
                color: $deep-pink;
            }
        }

    }

}

// ------------------------------------ Footer

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $deep-blue;
    color: $base-blue;
    padding: 4rem 10rem;
}

@media (max-width:600px) {
    .footer {
        padding: 4rem;
    }
}

// -------------------------------------------------------------------------------
// ------------------------------------ Wedding ----------------------------------
// -------------------------------------------------------------------------------

// -------------------------------------------------------------------------------
// ------------------------------------ Story ------------------------------------
// -------------------------------------------------------------------------------

.story-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .match-container {
        align-items: center;
        background: white;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 2rem;
        text-align: center;
        width: 60vw;

        .match-story {
            padding: 1rem;

            h3 {
                font-family: $font-cursive;
                font-size: 5rem;
                margin-bottom: 2rem;
            }

            p {
                padding: 0.5rem 0;
                text-align: left;
            }
        }

        .match-image {

            img {
                border-radius: 1rem;
                max-width: 20rem;
            }
        }
    }

    .dating-container {
        align-items: center;
        background: white;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 2rem;
        text-align: center;
        width: 60vw;

        .dating-story {
            padding: 1rem;

            h3 {
                font-family: $font-cursive;
                font-size: 5rem;
                margin-bottom: 2rem;
            }

            p {
                padding: 0.5rem 0;
                text-align: left;
            }

        }

        .dating-image {

            img {
                border-radius: 1rem;
                max-height: 20vh;
                max-width: 20rem;
                min-width: 20rem;
                object-fit: cover;
            }
        }
    }

    .proposal-container {
        align-items: center;
        background: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 2rem;
        position: relative;
        transform: translateY(-5vh);
        text-align: center;
        width: 60vw;

        .proposal-story {
            padding: 1rem;

            h3 {
                font-family: $font-cursive;
                font-size: 5rem;
                margin-bottom: 2rem;
            }

            p {
                padding: 0.5rem 0;
            }

        }

        .proposal-image {
            max-width: 50vw;

            img {
                border-radius: 1rem;
                max-width: 30vw;
            }
        }
    }
}

@media (max-width:600px) {
    .story-container {

        .match-container,
        .dating-container,
        .proposal-container {
            border-radius: 5px;
            flex-direction: column;
            padding: 0rem;
            width: 100vw;

            .match-story,
            .dating-story,
            .proposal-story {
                h3 {
                    font-size: 3.5rem;
                }
            }

            .match-image,
            .dating-image,
            .proposal-image {
                max-width: 100vw;

                img {
                    border-radius: 0;
                    max-height: 100%;
                    max-width: 100vw;
                }
            }
        }

        .dating-container:nth-of-type(odd) {
            flex-direction: column-reverse;
        }
    }
}

// -------------------------------------------------------------------------------
// ------------------------------------ Travel -----------------------------------
// -------------------------------------------------------------------------------

// -------------------------------------------------------------------------------
// ------------------------------------ RSVP -------------------------------------
// -------------------------------------------------------------------------------

.response-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .rsvp-container {
        background: $base-blue;
        border-radius: 10px;
        margin: auto;
        padding: 2rem;
        position: relative;
        transform: translateY(-5vh);
        text-align: center;
        width: 40vw;

        h2 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            letter-spacing: 0.2rem;
        }

        h1 {
            color: white;
            font-family: 'Passions Conflict', cursive;
            font-size: 5rem;
            font-weight: 100;
            line-height: 3rem;
            margin-bottom: 1rem;
        }

        hr {
            border: 1px solid white;
            border-style: dashed;
            margin: 2rem 0 1rem;
        }

        .rsvp-details {
            display: flex;
            justify-content: center;

            h3 {
                font-family: 'Passions Conflict', cursive;
                font-size: 3rem;
                font-weight: 100;
            }

            div {
                padding: 1rem;
            }
        }

        form {
            display: flex;
            justify-content: center;
            flex-direction: column;

            input,
            textarea,
            select {
                border: none;
                background: white;
                font-family: 'Montserrat', sans-serif;
                padding: 1rem 0.6rem;
                margin: 0.5rem 0;
                width: 100%;
            }

            p {
                font-family: 'Montserrat', sans-serif;
                padding: 0.6rem;
                margin: 0.5rem 0;
            }

            button {
                background: $deep-blue;
                border: none;
                color: white;
                cursor: pointer;
                padding: 1rem;
                margin: 0.5rem 0;

            }

        }
    }
}

@media (max-width:600px) {
    .response-container {
        .rsvp-container {
            border-radius: 5px;
            width: 90vw;
        }
    }
}