<!DOCTYPE html>
<html lang="en">
    <html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
            />
            <title>Our Wedding</title>

            <link rel="stylesheet" href="css/main.css" />
            <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
                crossorigin="anonymous"
            />
            <link
                rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
            />

            <script
                src="https://code.jquery.com/jquery-3.6.3.min.js"
                integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
                crossorigin="anonymous"
            ></script>
            <script src="js/main.js"></script>
        </head>
        <body>
            <!-- Nav section -->
            <section class="nav_section">
                <nav>
                    <a href="index.html" class="nav_logo">Emma & Daniel</a>
                    <div class="nav-btn" onclick="toggleNavMenu()">
                        <span class="material-symbols-outlined"> menu </span>
                    </div>
                    <ul class="desktop_nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="wedding.html">The Big Day</a></li>
                        <li><a href="story.html">Our Story</a></li>
                        <li><a href="travel.html">Travel & Accomodation</a></li>
                        <li><a href="rsvp.html">RSVP</a></li>
                    </ul>
                    <ul class="mobile_nav" id="nav_menu">
                        <section class="mobile_nav_sect">
                            <span class="close" onclick="toggleNavMenu()"
                                >&times;</span
                            >
                            <li><a href="index.html">Home</a></li>
                            <li><a href="wedding.html">The Big Day</a></li>
                            <li><a href="story.html">Our Story</a></li>
                            <li>
                                <a href="travel.html">Travel & Accomodation</a>
                            </li>
                            <li><a href="rsvp.html">RSVP</a></li>
                        </section>
                    </ul>
                </nav>
            </section>

            <section class="heading-container">
                <h1>RSVP</h1>
                <p class="lead">We would love for you to join us</p>
                <p class="lead">
                    So please let us know, whether it's a yes or no
                </p>
            </section>

            <!-- RSVP section -->
            <div class="response-container">
                <section class="rsvp-container">
                    <div id="password-container">
                        <input
                            type="password"
                            id="passwordInput"
                            placeholder="Enter password"
                        />
                        <button onclick="checkPassword()">Submit</button>
                    </div>

                    <form action="mail.php" method="POST" id="form1" style="display: none">
                        <label class="label-input" for="name">Name of Guests<sup>*</sup></label>

                        <input
                            type="text"
                            name="name"
                            id="name"
                            class="input-field"
                            placeholder=""
                            required
                        />

                        <label class="label-input" for="phone">Contact number<sup>*</sup></label>

                        <input
                            type="number"
                            name="phone"
                            id="phone"
                            class="input-field"
                            placeholder=" "
                            required
                        />

                        <label class="label-input" for="attending">RSVP<sup>*</sup></label>

                        <select
                            name="attending"
                            id="attending"
                            placeholder=""
                            required
                            onchange="rsvp()"
                        >
                            <option value="" disabled selected>
                                RSVP here
                            </option>
                            <option value="yes">I would love to come</option>
                            <option value="no">Sadly I can not make it</option>
                        </select>

                        <section
                            id="accepted"
                            class="accepted-section"
                            style="display: none"
                        >

                            <label class="label-input" for="message">Anything we need to know? (Dietary requirements)</label>

                            <textarea
                                name="message"
                                cols="30"
                                rows="5"
                                placeholder=""
                            ></textarea>

                            <p>
                                We would also love for you to have a say on what
                                music plays to get you on the dancefloor. Please
                                feel free to suggest 1 or 2 options below:
                            </p>

                            <label class="label-input" for="songone">Name of first song choice</label>

                            <input
                                type="text"
                                v-model="songone"
                                name="songone"
                                placeholder="Your first song choice"
                            />

                            <label class="label-input" for="songtwo">Name of second song choice</label>

                            <input
                                type="text"
                                v-model="songtwo"
                                name="songtwo"
                                placeholder="Your second song choice"
                            />
                        </section>

                        <button type="submit" value="Send">RSVP</button>
                    </form>

                </section>
            </div>

            <!-- Footer -->

            <section class="footer">
                <p>Emma & Daniel</p>
            </section>

            <script>
                function rsvp() {
                    const select = document.getElementById("attending");
                    const accepted = document.getElementById("accepted");
                    accepted.style.display =
                        attending.value == "yes" ? "block" : "none";

                    const rejected = document.getElementById("rejected");
                    rejected.style.display =
                        attending.value == "yes" ? "block" : "none";
                }

                function checkPassword() {
                    var password =
                        document.getElementById("passwordInput").value;

                    var password1 = "THEHORNES";

                    if (password === password1) {
                        document.getElementById("form1").style.display = "block";
                        document.getElementById("password-container").style.display = "none";
                    } else {
                        alert(
                            "Oops, looks like that password isn't quite right. Please try again, making sure you copy it like for like off the invite!"
                        );
                    }
                }
            </script>
        </body>
    </html>
</html>
